
body{
  font-family:"Montserrat";
}
#title {
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid{
  padding: 3% 15% 7%;
}
h1{
  font-family: "montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;

}
h2{
  font-family: "montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "montserrat-bold"
}
p{
  color: #8f8f8f;
}

.icon{
  color: #ef8172;
}
/* navbarSupportedContent */
.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family:"Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding:0 18px;
  font-weight: bold;
}
.download-button{
  margin: 5% 3% 5% 0;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding: 5%
}

/* testimonial section */
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
  font-weight: bold;

}

.carousel-item{
  padding: 7% 15%;
}

.Testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
  padding: 40px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}

/* CTA section */

 #cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading{
  font-family: "montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
  /* footer section */

  #footer{
    padding: 7% 15%;
    text-align: center;
  }

  .social-icon{
    margin: 20px 10px;
  }
@media (max-width: 994px){

  #title{
    text-align:center;
  }
  .title-image{
    position:static;
    transform: rotate(0);

  }
}
